.d-none{
    display:none;
}

body{
        
	background-image:url(fotos/fundo1.png);
  /*  height: 100%; */
   /* background-position: center; */
    background-repeat: no-repeat; 
    background-size: cover;
    
    
}

.texto{ /* titulo pagina inicial */
	text-align: left;
	font-size: 313%;
}

.texto2{ /* pequeno texto pagina incial */
	font-size: 130%;
}

#terminar_teste{  /*presente ao clicar no botao temrinar teste */
	color: #4d2600;
	font-size: 30px;
	text-align: center;
}

#acertou_teste{   /*presente ao clicar no botao temrinar teste */
	color: #4d2600;
	font-size: 200%;
	text-align: center;
}

#errou_teste{    /*presente ao clicar no botao temrinar teste */
	color: #4d2600;
	font-size: 200%;
	text-align: center;
}

#naorespondeu_teste{   /*presente ao clicar no botao temrinar teste */
	color: #4d2600;
	font-size: 200%;
	text-align: center;
}

#resultado_final{    /*presente ao clicar no botao temrinar teste */
	color: #4d2600;
	font-size: 200%;
	text-align: center;
}

#teste{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	color: #4d2600;
	text-align: center;
	margin-top: 15%;
}


.acertou_a_pergunta{
    color: green;
}

.errou_a_pergunta{
   color: red;
}



button#btn_comecar{
	margin-left: 47%;  
	margin-top: 13.2%;	
    box-shadow:inset 0px -50px 0px 0px #5abaf5;
	background:linear-gradient(to bottom, #757575 5%, #8a8a8a 100%);
	background-color:#757575;
	border-radius:5%;
	cursor:pointer;
	color:#1f262e;
	font-family:Arial;
	font-size:110%;
	font-weight:bold;
	padding: 0.4% 2%;
	text-decoration: none;
}

button#btn_comecar {
	background:linear-gradient(to bottom, #8a8a8a 5%, #757575 100%);
	background-color:#8a8a8a;
}

button#btn_comecar {
    position:relative;
	top:1%;
}

.mt-10{ /* css dos botoes anterior seguinte e terminar */
	font-family:Arial;
	font-size: 130%;
	border: 50% solid black;
  	margin-top: 0%;
  	margin-bottom: 1%;
  	margin-right: 0%;
  	margin-left: 1%;	
	background-color:#cca300;  /* #008CBA */
	color: white;
	text-align: center;
	cursor: pointer;

}

/*imagem de fundo durante as respostas */
.body2{
	background-image: url(fotos/fundo3.jpg);
	height: 100%;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

}

/*distancia da texto do radiochoice */
.ml-20{
	margin-left: 4%;
}

.mr-10{
	margin-right:1%;
}

.time {
    font-weight: bold;
	text-align: right;
	font-size: 200%;
	text-align: left;
	color: #4d2600;	
	
}


/* as 3 classes para a caixa de texto */
.submit{
	font-size: 70%;
	text-align: center;
	width: 7%;
	height: 10%;
	color: black;
	background-color: azure;
}

.acertou{
	color:green;
}

.errou{
	color:red;
}